@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hover durumunda kategori stili */
.category-item:hover {
  background-color: #f97316; /* Turuncu */
  color: white; /* Beyaz yazı */
  font-weight: bold;
}

/* Dropdown menü hover ve görünürlük */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 50;
  display: none; /* Varsayılan olarak gizli */
}

.category-item:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block; /* Hover sırasında detay kutusunu göster */
}
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* Scrollbar genişliği */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar rengi */
    border-radius: 10px; /* Kenarları yuvarlak yapmak için */
    border: 2px solid transparent; /* Kenar düzgünlüğü */
    background-clip: padding-box; /* Yuvarlak kenarları doğru şekilde göstermek için */
    overflow-x: hidden;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* Arka plan görünümü */
  }

/* Sabit filtre alanı */
.filter-sidebar {
  position: sticky ;  /* Sayfa kaydırıldığında sabit kalması için */
  top: 0;  /* Sayfanın üst kısmında olacak şekilde sabitlenir */
  left: 12px;  /* Sayfanın sol kısmında sabitlenir */
  width: 450px;  /* İstenilen genişlik */
  height: 100%;  /* Sayfanın tamamını kaplamasını sağlar */
  overflow-y: auto;  /* Yüksekliği aşan içerik için scroll ekler */
  overflow-x: hidden;
  background-color: white;  /* Arka plan rengi */
  z-index: 9;  /* Diğer öğelerin önünde olmasını sağlar */
}


  
}
