@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hover durumunda kategori stili */
.category-item:hover {
  background-color: #f97316; /* Turuncu */
  color: white; /* Beyaz yazı */
  font-weight: bold;
}

/* Dropdown menü hover ve görünürlük */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 50;
  display: none; /* Varsayılan olarak gizli */
}

.category-item:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block; /* Hover sırasında detay kutusunu göster */
}
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* Scrollbar genişliği */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar rengi */
    border-radius: 10px; /* Kenarları yuvarlak yapmak için */
    border: 2px solid transparent; /* Kenar düzgünlüğü */
    background-clip: padding-box; /* Yuvarlak kenarları doğru şekilde göstermek için */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* Arka plan görünümü */
  }
  
  /* Tooltip sadece üzerine gelindiğinde görünsün */
.tooltip-content {
  display: none; /* Başlangıçta gizli */
}

/* Tooltip metni üzerine gelindiğinde görünür hale gelir */
.tooltip-content:hover {
  display: block;
}


  
}
