@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.scrollbar-custom {
  scrollbar-width: thin; /* Firefox için ince scrollbar */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Scrollbar genişliği */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar rengi */
  border-radius: 10px; /* Yuvarlak kenarlar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent; /* Arka plan rengi */
}

